<template>
  <div>
    <OverCalendar v-model="calendarMarker" :title="calendarTitle">
      <template #interval="{ date, hour }">
        <div
          v-if="isEndOfPeriod(hour)"
          class="event"
          :class="{
            'two-hours': !isPartyShift(hour),
            'one-hour': isPartyShift(hour),
            selected: isSelected(date, hour),
            'is-error': hasError(date, hour),
            'read-only': isReadonly,
          }"
          @click="togglePeriod(date, hour)"
        ></div>
      </template>
    </OverCalendar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Period } from "@overbookd/period";
import { PeriodOrchestrator } from "@overbookd/volunteer-availability";
import OverCalendar from "~/components/molecules/calendar/OverCalendar.vue";
import {
  hasAvailabilityPeriodError,
  isAvailabilityPeriodSelected,
  isEndOfAvailabilityPeriod,
} from "~/utils/availabilities/availabilities";
import { generateNewPeriod } from "~/utils/availabilities/period";
import {
  formatDateWithExplicitMonth,
  setDateHour,
} from "~/utils/date/dateUtils";
import { isPartyShift } from "~/utils/shift/shift";

export default Vue.extend({
  name: "AvailabilitiesSumup",
  components: { OverCalendar },
  props: {
    userId: {
      type: Number,
      required: true,
    },
  },
  data: () => ({
    calendarMarker: new Date(),
  }),
  computed: {
    manifDate(): Date {
      return this.$accessor.configuration.eventStartDate;
    },
    calendarTitle(): string {
      return formatDateWithExplicitMonth(this.calendarMarker);
    },
    periodOrchestrator(): PeriodOrchestrator {
      return this.$accessor.volunteerAvailability.periodOrchestrator;
    },
    selectedAvailabilities(): Period[] {
      return this.periodOrchestrator.availabilityPeriods;
    },
    isSelected(): (date: string | Date, hour: number) => boolean {
      return isAvailabilityPeriodSelected(this.selectedAvailabilities, []);
    },
    hasError(): (date: string | Date, hour: number) => boolean {
      return hasAvailabilityPeriodError(this.periodOrchestrator);
    },
    isReadonly(): boolean {
      return !this.$accessor.user.can("affect-volunteer");
    },
  },
  watch: {
    userId() {
      this.fetchAvailabilities();
    },
  },
  mounted() {
    this.calendarMarker = this.manifDate;
  },
  async created() {
    await this.$accessor.configuration.fetch("eventDate");
    await this.fetchAvailabilities();
  },
  methods: {
    fetchAvailabilities() {
      return this.$accessor.volunteerAvailability.fetchVolunteerAvailabilities(
        this.userId
      );
    },
    isEndOfPeriod(hour: number): boolean {
      return isEndOfAvailabilityPeriod(hour);
    },
    isPartyShift(hour: number): boolean {
      return isPartyShift(hour);
    },
    togglePeriod(dateString: string, hour: number) {
      if (this.isReadonly) return;
      const date = new Date(dateString);
      const updatedDate = setDateHour(date, hour);
      if (this.isSelected(date, hour)) return this.removePeriod(updatedDate);
      this.addPeriod(updatedDate);
    },
    addPeriod(date: Date) {
      const periodToAdd = generateNewPeriod(date);
      this.$accessor.volunteerAvailability.addAvailabilityPeriod(periodToAdd);
    },
    removePeriod(date: Date) {
      const periodToRemove = generateNewPeriod(date);
      this.$accessor.volunteerAvailability.removeAvailabilityPeriod(
        periodToRemove
      );
    },
  },
});
</script>

<style lang="scss" scoped>
.event {
  background-color: rgba(25, 118, 210, 0.2);
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}

.read-only {
  cursor: default;
}

.one-hour {
  height: 100%;
}

.two-hours {
  height: 200%;
}

.selected {
  background-color: rgba(25, 118, 210, 1);
  color: white;
}

.is-error {
  background-color: red;
  color: white;
}

/* Hover only on computer but not with touchscreen */
@media (hover: hover) and (pointer: fine) {
  .event:hover:not(.read-only) {
    background-color: rgba(25, 118, 210, 0.8);
  }
}
</style>
