<template>
  <v-card :class="validationStatus">
    <v-card-title>{{ title }}</v-card-title>
    <v-card-text>
      <v-container>
        <v-form v-if="!isValidatedByOwner" class="flex-row">
          <v-text-field
            v-model="quantity"
            type="number"
            label="Quantité"
            :rules="[rules.number, rules.min]"
          />
          <SearchGear
            :gear="gear"
            :owner="owner"
            :ponctual-usage="ponctualUsageGear"
            @change="updateCurrentGear"
          ></SearchGear>
          <v-btn
            rounded
            class="margin-btn"
            :disabled="!isValid"
            @click="addGear"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-form>
        <FALogisticsTable :owner="owner" :is-disabled="isValidatedByOwner" />
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import SearchGear from "~/components/atoms/field/search/SearchGear.vue";
import FALogisticsTable from "~/components/molecules/festivalEvent/logistic/FALogisticsTable.vue";
import {
  getFAValidationStatus,
  isAnimationValidatedBy,
} from "~/utils/festivalEvent/faUtils";
import { Gear } from "~/utils/models/catalog.model";
import { Fa } from "~/utils/models/fa";
import { isNumber, min } from "~/utils/rules/inputRules";

export default Vue.extend({
  name: "FaLogisticsCard",
  components: { FALogisticsTable, SearchGear },
  props: {
    title: {
      type: String,
      default: () => "",
    },
    owner: {
      type: String,
      default: () => "",
    },
    ponctualUsageGear: {
      type: Boolean,
      default: () => undefined,
    },
  },
  data: () => ({
    gear: undefined as Gear | undefined,
    quantity: "1",
    rules: {
      number: isNumber,
      min: min(1),
    },
  }),
  computed: {
    mFA(): Fa {
      return this.$accessor.fa.mFA;
    },
    isValid(): boolean {
      return Boolean(
        this.gear &&
          parseInt(this.quantity) >= 1 &&
          this.$accessor.fa.gearRequestRentalPeriods.length > 0 &&
          !this.isValidatedByOwner
      );
    },
    isValidatedByOwner(): boolean {
      return isAnimationValidatedBy(this.mFA, this.owner);
    },
    validationStatus(): string {
      return getFAValidationStatus(this.mFA, this.owner).toLowerCase();
    },
  },
  methods: {
    updateCurrentGear(gear: Gear | undefined) {
      this.gear = gear;
    },
    addGear() {
      if (!this.gear) return;
      return this.$accessor.fa.addGearRequestForAllRentalPeriods({
        gearId: this.gear.id,
        quantity: parseInt(this.quantity, 10),
      });
    },
  },
});
</script>

<style lang="scss" scoped>
.flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  .margin-btn {
    margin-left: 20px;
    margin-bottom: 30px;
  }
}
</style>
