<template>
  <v-data-table
    :headers="headers"
    :items="timeWindows"
    dense
    item-key="key"
    :items-per-page="-1"
    :custom-sort="sortTimeWindows"
  >
    <template #item.startDate="{ item }">
      {{ formatDate(item.start) }}
    </template>
    <template #item.endDate="{ item }">
      {{ formatDate(item.end) }}
    </template>
    <template #item.sliceTime="{ item }">
      {{ item.sliceTime ? floatToHour(item.sliceTime) : "" }}
    </template>
    <template #item.userRequests="{ item }">
      <v-chip-group id="user-requests" column>
        <VolunteerRequestChip
          v-for="userRequest in item.userRequests"
          :key="userRequest.user.id"
          :disabled="disabled"
          :user-request="userRequest"
          @delete-user-request="deleteUserRequest(item, userRequest)"
        />
      </v-chip-group>
    </template>
    <template #item.teamRequests="{ item }">
      <v-chip-group column>
        <template v-for="(req, i) in item.teamRequests">
          <v-chip
            v-if="req"
            :key="i"
            :close="!disabled"
            @click:close="deleteTeamRequest(item, req)"
          >
            {{ formatTeamRequestText(req.quantity, req.team.name) }}
          </v-chip>
        </template>
      </v-chip-group>
    </template>
    <template #item.action="{ item }">
      <div v-if="!disabled">
        <v-btn
          v-if="shouldDisplayVolunteerEdition"
          icon
          @click="editVolunteer(item)"
        >
          <v-icon>mdi-account-multiple-plus</v-icon>
        </v-btn>
        <v-btn icon @click="editTimeWindow(item)">
          <v-icon>mdi-clock-edit</v-icon>
        </v-btn>
        <v-btn icon @click="deleteTimeWindow(item)">
          <v-icon>mdi-trash-can</v-icon>
        </v-btn>
      </div>
    </template>
    <template #no-data> Aucun créneau ajouté </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from "vue";
import VolunteerRequestChip from "~/components/atoms/chip/VolunteerRequestChip.vue";
import { formatDateWithMinutes } from "~/utils/date/dateUtils";
import { isTaskValidatedBy } from "~/utils/festivalEvent/ftUtils";
import {
  SortableTimeWindowHeader,
  ftTimeWindowsSorts,
} from "~/utils/functions/timeWindow";
import {
  Ft,
  FtTeamRequest,
  FtTimeWindow,
  FtUserRequest,
  FtUserRequestImpl,
} from "~/utils/models/ft";

export default Vue.extend({
  name: "FtTimeWindowTable",
  components: { VolunteerRequestChip },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    headers: [
      { text: "Date de début", value: "startDate" },
      { text: "Date de fin", value: "endDate" },
      { text: "Découpage", value: "sliceTime", sortable: false },
      { text: "Bénévoles Requis", value: "userRequests", sortable: false },
      { text: "Equipes Requises", value: "teamRequests", sortable: false },
      { text: "Action", value: "action", sortable: false },
    ],
  }),
  computed: {
    mFT(): Ft {
      return this.$accessor.ft.mFT;
    },
    timeWindows(): FtTimeWindow[] {
      return this.mFT.timeWindows.map((timeWindow) => ({
        ...timeWindow,
        userRequests: timeWindow.userRequests.map(FtUserRequestImpl.build),
      }));
    },
    shouldDisplayVolunteerEdition(): boolean {
      return !isTaskValidatedBy(this.mFT.reviews, "humain");
    },
  },
  methods: {
    formatDate(date: string): string {
      return formatDateWithMinutes(date);
    },
    formatTeamRequestText(quantity: number, teamName: string) {
      return `${quantity} ${teamName}`;
    },
    floatToHour(float: number): string {
      const hours = Math.floor(float);
      const minutes = Math.round((float - hours) * 60);
      return `${hours}h${minutes ? minutes : ""}`;
    },
    editTimeWindow(timeWindow: FtTimeWindow) {
      this.$emit("update-time", timeWindow);
    },
    editVolunteer(timeWindow: FtTimeWindow) {
      this.$emit("update-volunteer", timeWindow);
    },
    deleteTimeWindow(timeWindow: FtTimeWindow) {
      this.$emit("delete", timeWindow);
    },
    deleteUserRequest(timeWindow: FtTimeWindow, userRequest: FtUserRequest) {
      this.$accessor.ft.deleteUserRequest({ timeWindow, userRequest });
    },
    deleteTeamRequest(timeWindow: FtTimeWindow, teamRequest: FtTeamRequest) {
      this.$accessor.ft.deleteTeamRequest({ timeWindow, teamRequest });
    },
    updateTimeWindow(timeWindow: FtTimeWindow) {
      this.$accessor.ft.updateTimeWindow(timeWindow);
    },
    sortTimeWindows(
      timeWindows: FtTimeWindow[],
      sortsBy: SortableTimeWindowHeader[],
      sortsDesc: boolean[]
    ) {
      const sortBy = sortsBy.at(0) ?? "startDate";
      const sortFnc = ftTimeWindowsSorts.get(sortBy);

      if (!sortFnc) return timeWindows;

      const sortDesc = sortsDesc.at(0) ?? false;
      return sortFnc(timeWindows, sortDesc);
    },
  },
});
</script>
