// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$header-height: 65px;
$mobile-header-height: 55px;

$warning-primary: rgb(251, 140, 0);
$warning-secondary: rgb(251, 140, 0, 0.1);

$info-primary: rgb(33, 150, 243);
$info-secondary: rgb(33, 150, 243, 0.1);

$draft-color: grey;
$submitted-color: orange;
$refused-color: red;
$validated-color: green;
$ready-color: rgb(103, 58, 183);

$conflict-also-requested-by-ft-color: red;
$conflict-not-available-for-ft-color: orange;
$conflict-already-assigned: rgb(103, 58, 183);

$calendar-category-column-min-width: 300px;
$calendar-available-background-color: rgba(95, 219, 72, 0.4);

$list-selected-item-background-color: rgba(130, 130, 130, 0.3);

$timeline-fa-title-background-color: rgb(255, 215, 0);
$timeline-fa-content-background-color: rgba(255, 215, 0, 0.4);
$timeline-task-title-background-color: rgb(103, 58, 183);
$timeline-task-content-background-color: rgba(103, 58, 183, 0.4);
$timeline-timewindow-background-color: rgb(65, 197, 229);
