<template>
  <v-stepper v-model="step">
    <v-stepper-header>
      <v-stepper-step
        v-for="({ title }, index) in calendarSteps"
        :key="title"
        :complete="step > index + 1"
        :step="index + 1"
      >
        {{ title }}
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content
        v-for="({ period }, index) in calendarSteps"
        :id="`calendar-part-${index + 1}`"
        :key="`${period.start}-${period.end}`"
        :step="index + 1"
        class="content-calendar"
      >
        <v-card-actions>
          <v-btn v-if="index > 0" @click="decrementStep"> Précédent </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            v-if="index < calendarSteps.length - 1"
            color="primary"
            :disabled="hasAvailabilityError"
            @click="incrementStep"
          >
            Suivant
          </v-btn>
          <v-btn
            v-else
            color="success"
            :disabled="hasAvailabilityError"
            @click="saveAvailabilities"
          >
            Valider
          </v-btn>
        </v-card-actions>

        <AvailabilitiesPickCalendar :period="period" />

        <v-card-actions>
          <v-btn v-if="index > 0" @click="decrementStep"> Précédent </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            v-if="index < calendarSteps.length - 1"
            color="primary"
            :disabled="hasAvailabilityError"
            @click="incrementStep"
          >
            Suivant
          </v-btn>
          <v-btn
            v-else
            color="success"
            :disabled="hasAvailabilityError"
            @click="saveAvailabilities"
          >
            Valider
          </v-btn>
        </v-card-actions>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script lang="ts">
import Vue from "vue";
import { IProvidePeriod } from "@overbookd/period";
import AvailabilitiesPickCalendar from "~/components/molecules/availabilities/AvailabilitiesPickCalendar.vue";

interface CalendarStep {
  title: string;
  period: IProvidePeriod;
}

export default Vue.extend({
  name: "AvailabilitiesStepsCard",
  components: { AvailabilitiesPickCalendar },
  data: () => ({
    step: 1,
  }),
  computed: {
    isHardUser(): boolean {
      return this.$accessor.user.can("hard");
    },
    softCalendarSteps(): CalendarStep[] {
      return [this.preManifStep, this.manifStep, this.postManifStep];
    },
    hardCalendarSteps(): CalendarStep[] {
      return [this.prePreManifStep, ...this.softCalendarSteps];
    },
    calendarSteps(): CalendarStep[] {
      return this.isHardUser ? this.hardCalendarSteps : this.softCalendarSteps;
    },
    prePreManifStep(): CalendarStep {
      return {
        title: "Pré-pré-festival",
        period: {
          start: new Date("2023-05-01"),
          end: new Date("2023-05-07"),
        },
      };
    },
    preManifStep(): CalendarStep {
      return {
        title: "Pré-festival",
        period: {
          start: new Date("2023-05-08"),
          end: new Date("2023-05-11"),
        },
      };
    },
    manifStep(): CalendarStep {
      return {
        title: "Festival",
        period: {
          start: new Date("2023-05-12"),
          end: new Date("2023-05-15"),
        },
      };
    },
    postManifStep(): CalendarStep {
      return {
        title: "Post-festival",
        period: {
          start: new Date("2023-05-16"),
          end: new Date("2023-05-17"),
        },
      };
    },
    hasAvailabilityError(): boolean {
      return (
        this.$accessor.volunteerAvailability.periodOrchestrator.errors.length >
        0
      );
    },
  },
  methods: {
    decrementStep() {
      this.step--;
    },
    incrementStep() {
      this.step++;
    },
    async saveAvailabilities() {
      return this.$accessor.volunteerAvailability.updateVolunteerAvailabilities(
        +this.$accessor.user.me.id
      );
    },
  },
});
</script>

<style lang="scss" scoped>
.content-calendar {
  padding-top: 5px;
}

@media only screen and (max-width: 960px) {
  @for $index from 1 through 5 {
    #calendar-part-#{$index} {
      padding: 5px 0 16px 0;
    }
  }
}
</style>
